<div class="container">
  <div class="row">
    <div class="col-md-8 col-lg-6 w-100 bg-secondary-subtle">
      <h1 class="text-start mt-6 ms-6">Welcome to LSA Evaluate</h1>
      <% if (content = render_editable_content('home', 'description')) %>
        <p class="lead mt-4 ms-6">
          <%= content %>
        </p>
      <% end %>
      <div class="d-grid w-25 ms-6 mt-6 mb-8">
        <% if user_signed_in? %>
          <%= button_to "Explore Opportunities", root_path, class: "btn btn-primary btn-sm mb-4", method: :get, data: {turbo: "false"} %>
        <% else %>
          <%= button_to "Login to LSA Evaluate", user_saml_omniauth_authorize_path, class: "btn btn-warning btn-sm mb-4", data: {turbo: "false"} %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <h2 class="mt-4">How to use LSA Evaluate</h2>
    <% if (content = render_editable_content('home', 'instructions')) %>
      <p class="lead mt-4 ms-6">
        <%= content %>
      </p>
    <% end %>
  </div>
  <% if user_signed_in? %>
    <%= render 'opportunities' %>
  <% end %>
</div>
