
<%= simple_form_for @profile do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :grad_date, as: :date %>
    <%= f.input :degree %>
    <%= f.input :receiving_financial_aid, as: :boolean %>
    <%= f.input :accepted_financial_aid_notice, as: :boolean %>

    <%= f.simple_fields_for :home_address do |address_form| %>
      <h3>Home Address</h3>
      <%= address_form.input :address1 %>
      <%= address_form.input :address2 %>
      <%= address_form.input :city %>
      <%= address_form.input :state %>
      <%= address_form.input :zip %>
      <%= address_form.input :phone %>
      <%= address_form.input :country, priority: [ "United States" ] %>
      <%= address_form.input :address_type_id, as: :hidden, input_html: { value: AddressType.find_by(kind: 'Home').id } %>
    <% end %>

    <%= f.simple_fields_for :campus_address do |address_form| %>
      <h3>Campus Address</h3>
      <%= address_form.input :address1 %>
      <%= address_form.input :address2 %>
      <%= address_form.input :city %>
      <%= address_form.input :state %>
      <%= address_form.input :zip %>
      <%= address_form.input :phone %>
      <%= address_form.input :country, priority: [ "United States" ] %>
      <%= address_form.input :address_type_id, as: :hidden, input_html: { value: AddressType.find_by(kind: 'Campus').id } %>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
