
<%= simple_form_for @profile do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs" data-controller="address-copy" >
    <%= f.input :user_id, as: :hidden, input_html: { value: current_user.id } %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :pen_name %>
    <%= f.input :umid %>
    <%= f.input :class_level_id, collection: ClassLevel.all, label_method: :name, value_method: :id, label: "Class Level" %>
    <%= f.input :grad_date, as: :date, start_year: Date.today.year,
                              end_year: Date.today.year + 12, discard_day: true,
                              order: [:month, :year] %>
    <%= f.input :degree %>
    <%= f.input :major %>
    <%= f.input :department_id, collection: Department.all, label_method: :name, value_method: :id, label: "Department" %>
    <%= f.input :school_id, collection: School.all, label_method: :name, value_method: :id, label: "School" %>
    <%= f.input :campus_id, collection: Campus.all, label_method: :campus_descr, value_method: :id, label: "Campus" %>
    <% if (content = render_editable_content('profiles', 'finaid_information')) %>
      <strong>Important note for students receiving needs-based financial aid:</strong>
      <p class="">
        <%= content %>
      </p>
    <% end %>
    <%= f.input :accepted_financial_aid_notice, as: :boolean, label: "I have read and understood the above statement about the potential impact of prize money on financial aid." %>
    <%= f.input :receiving_financial_aid, as: :boolean %>
    <%= f.input :financial_aid_description %>

    <%= f.input :hometown_publication %>

    <%= f.simple_fields_for :home_address do |address_form| %>
      <h3>Home Address</h3>
      <%= address_form.input :address1, input_html: { data: { target: "address-copy.homeAddress1" } } %>
      <%= address_form.input :address2, input_html: { data: { target: "address-copy.homeAddress2" } } %>
      <%= address_form.input :city, input_html: { data: { target: "address-copy.homeCity" } } %>
      <%= address_form.input :state, collection: Address::STATES, input_html: { data: { target: "address-copy.homeState" } } %>
      <%= address_form.input :zip, input_html: { data: { target: "address-copy.homeZip" } } %>
      <%= address_form.input :phone, input_html: { data: { target: "address-copy.homePhone" } } %>
      <%= address_form.input :country, priority: ["United States"], input_html: { data: { target: "address-copy.homeCountry" } } %>
      <%= address_form.input :address_type_id, as: :hidden, input_html: { value: AddressType.find_by(kind: 'Home').id } %>
    <% end %>

    <!-- Add a button to copy the home address -->
    <button type="button" data-action="click->address-copy#copy" class="btn btn-secondary">Copy Home Address to Campus Address</button>

    <%= f.simple_fields_for :campus_address do |address_form| %>
      <h3>Campus Address</h3>
      <%= address_form.input :address1, input_html: { data: { target: "address-copy.campusAddress1" } } %>
      <%= address_form.input :address2, input_html: { data: { target: "address-copy.campusAddress2" } } %>
      <%= address_form.input :city, input_html: { data: { target: "address-copy.campusCity" } } %>
      <%= address_form.input :state, collection: Address::STATES, input_html: { data: { target: "address-copy.campusState" } } %>
      <%= address_form.input :zip, input_html: { data: { target: "address-copy.campusZip" } } %>
      <%= address_form.input :phone, input_html: { data: { target: "address-copy.campusPhone" } } %>
      <%= address_form.input :country, priority: ["United States"], input_html: { data: { target: "address-copy.campusCountry" } } %>
      <%= address_form.input :address_type_id, as: :hidden, input_html: { value: AddressType.find_by(kind: 'Campus').id } %>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
