<div class="container">
  <div class="row justify-content-start">
    <div class="col-12 col-md-8">
      <%= simple_form_for @profile, html: { data: { turbo: false } } do |f| %>
        <%= f.error_notification %>
        <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

        <div class="form-inputs" data-controller="address-copy" >
          <h2 class="mt-4">Contact Information</h2>
          <div class= "ms-4">
            <div class="row">
              <%= f.input :user_id, as: :hidden, input_html: { value: current_user.id } %>
            <div class="col">
              <%= f.input :preferred_first_name, input_html: { value: @profile.preferred_first_name.presence || current_user.first_name } %>
            </div>

            <div class="col">
              <%= f.input :preferred_last_name, input_html: { value: @profile.preferred_last_name.presence || current_user.last_name } %>
            </div>
            </div>
            <div class="row">
              <div class="col">
                <% if action_name == 'new' || action_name == 'create' %>
                  <%= f.input :umid %>
                <% end %>
              </div>
              <div class="col">
                <%= f.input :pen_name, label: "Pen Name (optional)", hint: "Set a default pen name to use for future contest entries that require one. You can leave this blank if you prefer to enter a pen name each time." %>
              </div>
            </div>

            <div class= "mt-4 ms-2">
              <h3 class="my-4" >Campus Address</h3>
              <%= f.simple_fields_for :campus_address do |address_form| %>
                <div class="row">
                  <div class="col">
                    <%= address_form.input :address1, input_html: { data: { target: "address-copy.campusAddress1" } } %>
                  </div>
                  <div class="col">
                    <%= address_form.input :address2, input_html: { data: { target: "address-copy.campusAddress2" } } %>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <%= address_form.input :city, input_html: { data: { target: "address-copy.campusCity" } } %>
                  </div>
                  <div class="col">
                    <%= address_form.input :state, collection: Address::STATES, input_html: { data: { target: "address-copy.campusState" } } %>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <%= address_form.input :zip, input_html: { data: { target: "address-copy.campusZip" } } %>
                  </div>
                  <div class="col">
                    <%= address_form.input :country, priority: ["United States"], input_html: { data: { target: "address-copy.campusCountry" } } %>
                    <%= address_form.input :address_type_id, as: :hidden, input_html: { value: AddressType.find_by(kind: 'Campus').id } %>
                  </div>
                </div>
              <% end %>

              <button type="button" data-action="click->address-copy#copy" class="btn btn-sm btn-secondary">Copy Campus Address to Home Address</button>

              <h3 class="my-4" >Home Address</h3>
              <%= f.simple_fields_for :home_address do |address_form| %>
                <div class="row">
                  <div class="col">
                    <%= address_form.input :address1, input_html: { data: { target: "address-copy.homeAddress1" } } %>
                  </div>
                  <div class="col">
                    <%= address_form.input :address2, input_html: { data: { target: "address-copy.homeAddress2" } } %>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <%= address_form.input :city, input_html: { data: { target: "address-copy.homeCity" } } %>
                  </div>
                  <div class="col">
                    <%= address_form.input :state, collection: Address::STATES, input_html: { data: { target: "address-copy.homeState" } } %>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <%= address_form.input :zip, input_html: { data: { target: "address-copy.homeZip" } } %>
                  </div>
                  <div class="col">
                    <%= address_form.input :country, priority: ["United States"], input_html: { data: { target: "address-copy.homeCountry" } } %>
                    <%= address_form.input :address_type_id, as: :hidden, input_html: { value: AddressType.find_by(kind: 'Home').id } %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>

          <h2 class="mt-4">Academic Information</h2>
          <div class= "ms-4">
            <%= f.input :class_level_id,
                        collection: ClassLevel.all,
                        label_method: :name,
                        value_method: :id,
                        as: :radio_buttons,
                        label: "Class Level",
                        wrapper: :vertical_collection_inline %>
            <%= f.input :school_id, collection: School.all, label_method: :name, value_method: :id, label: "School or College" %>
            <%= f.input :campus_id, collection: Campus.all, label_method: :campus_descr, value_method: :id, label: "Primary Campus Class Location" %>
            <%= f.input :major, label: "Major (if undergraduate)" %>
            <%= f.input :department_id, collection: Department.all, label_method: :name, value_method: :id, label: "Department (if graduate)" %>
            <%= f.input :grad_date, as: :date, start_year: Date.today.year,
                                      end_year: Date.today.year + 12, discard_day: true,
                                      order: [:month, :year],
                                      lebel: "Expected Graduation Date" %>
            <%= f.input :degree %>
          </div>

          <h2 class="mt-4">Publicity</h2>
          <div class= "ms-4">
            <div class="row">

              <div class="col">
                <%= f.input :hometown_publication, label: "Name of hometown newspaper..." %>
              </div>
            </div>
          </div>

        </div>
        <div class="shadow p-3 mb-3 bg-body rounded" >
          <% if (content = render_editable_content('profiles', 'submission_ownership')) %>
            <p class="">
              <%= content %>
            </p>
          <% end %>
        </div>
        <div class="form-actions pb-1">
          <%= f.button :submit, class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
