<div class="bg-secondary text-white text-center px-2">

    <div class="d-flex flex-row flex-xxl-column justify-content-between align-items-center">
      <!-- Welcome Message -->
      <div class="d-xxl-none"></div>
      <div class="text-center">
        <h2>Welcome<br><%= @profile.preferred_first_name %>!</h2>
        <p class="text-white fw-light"><small>UMID: <%= @profile.umid %></small></p>
      </div>
      <!-- Edit Profile Link -->
      <div>
        <%= link_to edit_profile_path(@profile), class: 'text-white link-underline link-underline-opacity-0' do %>
          <i class="bi bi-pencil"></i> <span class="fw-light">Edit</span>
        <% end %>
      </div>
    </div>
  <hr>
  <div class="text-white text-start small">
    <!-- Address Section -->
    <div class="row row-cols-1 row-cols-sm-2 row-cols-xxl-1">
      <div class="col">
        <p class="text-white m-0">
          Hometown Address:
          <%= simple_format(@profile.home_address.full_address, class: "text-white fw-light lh-1 pt-1 ms-2 small") if @profile.home_address %>
        </p>
      </div>
      <div class="col">
        <p class="text-white m-0">
          Local(campus) Address:
          <%= simple_format(@profile.campus_address.full_address, class: "text-white fw-light lh-1 ms-2 pt-1 small") if @profile.campus_address %>
        </p>
      </div>
    </div>
    <hr>

    <!-- Other Profile Data -->
    <div class="row row-cols-1 row-cols-sm-3 row-cols-xxl-1">
      <!-- Grade Level -->
      <div class="col">
        <p class="text-white">
          Grade Level:<br>
          <span class="fw-light ms-2"><%= @profile.class_level&.name %></span>
        </p>
      </div>
      <!-- School -->
      <div class="col">
        <p class="text-white">
          School:<br>
          <span class="fw-light ms-2"><%= @profile.school&.name %></span>
        </p>
      </div>
      <!-- Campus -->
      <div class="col">
        <p class="text-white">
          Campus:<br>
          <span class="fw-light ms-2"><%= @profile.campus&.campus_descr %></span>
        </p>
      </div>
      <!-- Major -->
      <% if @profile&.major.present? %>
        <div class="col">
          <p class="text-white">
            Major:<br>
            <span class="fw-light ms-2"><%= @profile.major %></span>
          </p>
        </div>
      <% end %>
      <!-- Department -->
      <% if @profile.department.present? %>
        <div class="col">
          <p class="text-white">
        Dept:<br>
        <span class="fw-light ms-2"><%= @profile.department %></span>
          </p>
        </div>
      <% end %>
      <!-- Graduation Date -->
      <div class="col">
        <p class="text-white">
          Graduation Date:<br>
          <span class="fw-light ms-2"><%= @profile.grad_date.strftime("%B %Y") %></span>
        </p>
      </div>
      <!-- Degree -->
      <div class="col">
        <p class="text-white">
          Degree:<br>
          <span class="fw-light ms-2"><%= @profile.degree %></span>
        </p>
      </div>
      <!-- Financial Aid -->
    <% if @profile.receiving_financial_aid && @profile.financial_aid_description.present? %>
      <div class="col">
        <p class="text-white">
          Financial Aid:<br>
          <span class="fw-light ms-2"><%= boolean_to_yes_no(@profile.receiving_financial_aid) %></span>
        </p>
      </div>
        <!-- Financial Aid Description -->
        <div class="col">
          <p class="text-white">
            Financial Aid Description:<br>
            <span class="fw-light ms-2"><%= @profile.financial_aid_description %></span>
          </p>
        </div>
      <% end %>
      <!-- Name for Publication -->
      <div class="col">
        <p class="text-white">
          Name for Publication:<br>
          <small><em class="fw-light">(AKA. preferred name)</em></small><br>
          <span class="fw-light ms-2"><%= @profile.display_name %></span>
        </p>
      </div>

      <% if @profile.hometown_publication.present? %>
        <!-- Hometown News -->
        <div class="col">
          <p class="text-white">
            Preferred Media Outlet:<br>
            <span class="fw-light ms-2"><%= @profile.hometown_publication %></span>
          </p>
        </div>
      <% end %>

      <% if @profile.pen_name.present? %>
        <!-- Pen Name -->
        <div class="col">
          <p class="text-white">
            Default pen name:<br>
            <span class="fw-light ms-2"><%= @profile.pen_name %></span>
          </p>
        </div>
      <% end %>
    </div>
  </div>

  <!-- Last Updated -->
  <div class="pb-1">
    <p class="text-white">
      <small><em>Last updated:<br> <%= @profile.updated_at.strftime("%B %d, %Y") %></em></small>
    </p>
  </div>
</div>