<div id="<%= dom_id profile %>">

  <h1 class="mb-0"><%= profile.preferred_first_name %> <%= profile.preferred_last_name %></h1>
  <div class="ms-2">
    <span class="text-body-tertiary"><small><em>Last updated: <%= profile.updated_at.strftime("%B %d, %Y") %></em></small></span><br>
    <span class="fw-light">UMID: <%= profile.umid %></span>
  </div>

  <div class="card mt-5">
    <div class="header card-header">
      <h2>Contact Information</h2>
    </div>
    <div class="card-body">
      <div class="header h5 ps-2">
        email: <%= profile.user.email %>
      </div>
      <div class="d-flex justify-content-start">
        <div class="ps-2 me-8"><p class="m-0">Home Address<%= simple_format(profile.home_address.full_address, {class:"fw-light"}) if profile.home_address %></p></div>
        <div class="ps-2"><p class="m-0">Campus Address<%= simple_format(profile.campus_address.full_address, {class:"fw-light"}) if profile.campus_address %></p></div>
      </div>
    </div>
  </div>

  <div class="card mt-5">
    <div class="header card-header">
      <h2>Academic Information</h2>
    </div>
    <div class="card-body">
      <div class="d-flex justify-content-start">
        <div class=" text-start ms-4">
          <p class="">Class Level:<br><span class="fw-light"> <%= profile.class_level.name if profile.class_level %></span></p>
          <p class="">School or College:<br><span class="fw-light"> <%= profile.school.name if profile.school %></span></p>
          <p class="">Primary Campus Class Location:<br><span class="fw-light"> <%= profile.campus.campus_descr if profile.campus %></span></p>
          <p class="">Major (if undergraduate):<br><span class="fw-light"> <%= profile.major %></span></p>
          <p class="">Department (if graduate):<br><span class="fw-light"> <%= profile.department.name if profile.department %></span></p>
          <p class="">Expected Graduation Date:<br><span class="fw-light"> <%= profile.grad_date.strftime("%B %Y") %></span></p>
          <p class="">Degree:<br><span class="fw-light"> <%= profile.degree %></span></p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mt-5">
    <div class="header card-header">
      <h2>Employment Information</h2>
      <p>In the event you are a contest winnner.....</p>
    </div>
    <div class="card-body">
      <div class="d-flex justify-content-start">
        <div class=" text-start ms-4">
          <p>Are you currently an active campus employee (workstudy, GSI, etc)?<br><span class="fw-light"> <%= profile.campus_employee ? 'Yes' : 'No' %></span></p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mt-5">
    <div class="header card-header">
      <h2>Financial Aid</h2>
    </div>
    <div class="card-body">
      <div class="d-flex justify-content-start">
        <div class=" text-start ms-4">
          <p class="">Financial Aid:<br><span class="fw-light"> <%= profile.receiving_financial_aid ? 'Yes' : 'No' %></span></p>
          <% if profile.receiving_financial_aid %>
            <p class="">Financial Aid Description:<br><span class="fw-light"> <%= profile.financial_aid_description %></span></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="card mt-5">
    <div class="header card-header">
      <h2>Publicity</h2>
      <p>If your manuscript earns a Hopwood or other award.....</p>
    </div>
    <div class="card-body">
      <div class="d-flex justify-content-start">
        <div class=" text-start ms-4">
          <p class="">Entrant’s name as it should appear in publicity: <br><span class="fw-light"> <%= profile.user.display_name %></span></p>
          <p class="">Name of hometown newspaper...:<br><span class="fw-light"> <%= profile.hometown_publication %></span></p>
          <p class="">Pen Name: <span class="fw-light"> <%= profile.pen_name if profile.pen_name %></span></p>
        </div>
      </div>
    </div>
  </div>
</div>
