<div id="<%= dom_id profile %>">
  <p>
    <strong>First Name:</strong>
    <%= profile.first_name %>
  </p>

  <p>
    <strong>Last Name:</strong>
    <%= profile.last_name %>
  </p>

  <p>
    <strong>UMID:</strong>
    <%= profile.umid %>
  </p>

  <p>
    <strong>Campus email:</strong>
    <%= profile.user.email %>
  </p>

  <p>
    <strong>Major:</strong>
    <%= profile.major %>
  </p>

  <p>
    <strong>Graduation Date:</strong>
    <%= profile.grad_date %>
  </p>

  <p>
    <strong>Degree:</strong>
    <%= profile.degree %>
  </p>

  <p>
    <strong>Receiving Financial Aid:</strong>
    <%= profile.receiving_financial_aid ? 'Yes' : 'No' %>
  </p>

  <p>
    <strong>Accepted Financial Aid Notice:</strong>
    <%= profile.accepted_financial_aid_notice ? 'Yes' : 'No' %>
  </p>

  <p>
    <strong>Financial Aid Description:</strong>
    <%= profile.financial_aid_description %>
  </p>

  <p>
    <strong>Hometown Publication:</strong>
    <%= profile.hometown_publication %>
  </p>

  <p>
    <strong>Pen Name:</strong>
    <%= profile.pen_name %>
  </p>

  <p>
    <strong>User:</strong>
    <%= profile.user.display_name if profile.user %>
  </p>

  <p>
    <strong>Class Level:</strong>
    <%= profile.class_level.name if profile.class_level %>
  </p>

  <p>
    <strong>School:</strong>
    <%= profile.school.name if profile.school %>
  </p>

  <p>
    <strong>Campus:</strong>
    <%= profile.campus.campus_descr if profile.campus %>
  </p>

  <p>
    <strong>Department:</strong>
    <%= profile.department.name if profile.department %>
  </p>

  <p>
    <strong>Home Address:</strong>
    <%= profile.home_address.full_address if profile.home_address %>
  </p>

  <p>
    <strong>Campus Address:</strong>
    <%= profile.campus_address.full_address if profile.campus_address %>
  </p>


</div>
