<div id="<%= dom_id profile %>">

  <h1 class="mb-0"><%= profile.preferred_first_name %> <%= profile.preferred_last_name %></h1>
  <div class="ms-2">
    <span class="text-body-tertiary"><small><em>Last updated: <%= profile.updated_at.strftime("%B %d, %Y") %></em></small></span><br>
    <span class="fw-light">UMID: <%= profile.umid %></span>
  </div>

  <div class="card mt-5">
    <div class="header card-header">
      <h2>Contact Information</h2>
    </div>
    <div class="card-body">
      <div class="ps-2  me-8">
        Email: <%= simple_format(profile.user.email, {class:"fw-light"}) %>
      </div>
      <div class="justify-content-start">
        <div class="ps-2 me-8"><p class="m-0">Hometown Address:<%= simple_format(profile.home_address.full_address, {class:"fw-light"}) if profile.home_address %></p></div>
        <div class="ps-2"><p class="m-0">Local(campus) Address:<%= simple_format(profile.campus_address.full_address, {class:"fw-light"}) if profile.campus_address %></p></div>
        <% if profile.pen_name.present? %>
          <div class="ps-2"><p class="m-0">Default pen name: <%= simple_format(profile.pen_name, {class:"fw-light"}) %></p></div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card mt-5">
    <div class="header card-header">
      <h2>Academic Information</h2>
    </div>
    <div class="card-body">
      <div class="d-flex justify-content-start">
        <div class="text-start ms-4">
          <p>Class Level:<br><span class="fw-light"> <%= profile.class_level.name if profile.class_level %></span></p>
          <p>School or College:<br><span class="fw-light"> <%= profile.school.name if profile.school %></span></p>
          <p>Primary Campus Class Location:<br><span class="fw-light"> <%= profile.campus.campus_descr if profile.campus %></span></p>
          <% if @profile&.major.present? %>
            <p>Major (if undergraduate):<br><span class="fw-light"> <%= profile.major %></span></p>
          <% end %>
          <% if @profile&.department.present? %>
            <p>Department (if graduate):<br><span class="fw-light"> <%= profile.department if profile.department %></span></p>
          <% end %>
          <p>Expected Graduation Date:<br><span class="fw-light"> <%= profile.grad_date.strftime("%B %Y") %></span></p>
          <p>Degree:<br><span class="fw-light"> <%= profile.degree %></span></p>
        </div>
      </div>
    </div>
  </div>

  <% if @profile.receiving_financial_aid && @profile.financial_aid_description.present? %>
    <div class="card mt-5">
      <div class="header card-header">
        <h2>Financial Aid</h2>
      </div>
      <div class="card-body">
        <div class="d-flex justify-content-start">
          <div class=" text-start ms-4">
            <p>Financial Aid:<br><span class="fw-light"> <%= profile.receiving_financial_aid ? 'Yes' : 'No' %></span></p>
            <% if profile.receiving_financial_aid %>
              <p>Financial Aid Description:<br><span class="fw-light"> <%= profile.financial_aid_description %></span></p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <div class="card mt-5">
    <div class="header card-header">
      <h2>Publicity</h2>
    </div>
    <div class="card-body">
      <div class="d-flex justify-content-start">
        <div class=" text-start ms-4">
            Entrant’s name as it will appear in publicity:<br>
             <small><em class="fw-light">(This is the name you entered as your preferred name.)</em></small>
            <%= simple_format(profile.display_name, {class:"fw-light"}) %>
          <% if profile.hometown_publication.present? %>
            <p>Name of your hometown newspaper or preferred media outlet:<br><span class="fw-light"> <%= profile.hometown_publication %></span></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
