<h1 class=" mb-0" ><%= @profile.first_name %> <%= @profile.last_name %></h1>
  <div class="ms-2 mt-0">
    <span class="text-body-tertiary"><small><em>Last updated: <%= @profile.updated_at.strftime("%B %d, %Y") %></em></small></span><br>
    <span class="fw-light">UMID: <%= @profile.umid %></span>
  </div>

<%= render "form", profile: @profile %>

<br>

<div>
  <%= link_to "Back", applicant_dashboard_path %>
</div>
