<div id="<%= dom_id contest_description %>">
  <p>
    <strong>Name:</strong>
    <%= contest_description.name %>
  </p>
  <p>
    <strong>Created By:</strong>
    <%= contest_description.created_by %>
  </p>
  <p>
    <strong>Eligibility Rules:</strong>
    <%= contest_description.eligibility_rules %>
  </p>
  <p>
    <strong>Notes:</strong>
    <%= contest_description.notes %>
  </p>
  <p>
    <strong>Short Name:</strong>
    <%= contest_description.short_name %>
  </p>
</div>