<div id="contest_description_form" class="mb-1">
  <%= simple_form_for([@container, @contest_description],
    html: {
      id: 'new_contest_description_form'
    }) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="form-inputs">
      <%= f.input :name, required: true %>
      <%= f.input :created_by, as: :hidden, input_html: { value: current_user.email} %>
      <%= f.input :eligibility_rules, as: :rich_text_area, hint: "These notes display on the applicant entry form and on the assigned judges' dashboard" %>
      <%= f.input :notes, as: :rich_text_area, hint: "These notes are not visible on the applicant entry form" %>
      <%= f.input :short_name %>
      <%= f.input :active, hint: "Toggle this checkbox to make the contest active. When active, administrators will be able to manage the submitted entries. Judges, during their assigned judging period, will be able to view the entries and provide feedback. Note that the contest's instances availabilty for submissions will follow the visibility settings based on specific dates configured in each contest instance. If this checkbox is unchecked, the contest and its instances will remain inactive and hidden from evaluation workflows." %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, (f.object.new_record? ? "Create Contest" : "Update Contest"), class: "btn btn-primary" %>
      <%= link_to "Cancel", (f.object.new_record? ? container_path(@container) : container_contest_description_contest_instances_path(@container, @contest_description)), class: "text-danger link_to" %>
    </div>
  <% end %>
</div>

<%= render 'contest_descriptions/active_instances_inline', contest_description: @contest_description %>
