<div id="contest_description_form" class="mb-1">
  <%= simple_form_for([@container, @contest_description], html: { id: 'new_contest_description_form' }) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="form-inputs">
      <%= f.input :name, required: true %>
      <%= f.input :created_by, as: :hidden, input_html: { value: current_user.email} %>
      <%= f.input :eligibility_rules, as: :rich_text_area, hint: "These notes display on the applicant entry form" %>
      <%= f.input :notes, as: :rich_text_area, hint: "These notes are not visible on the applicant entry form" %>
      <%= f.input :short_name %>
      <%= f.input :active, hint: "Specify whether this contest is currently accepting entries." %>
      <%= f.input :archived %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, (f.object.new_record? ? "Create Contest" : "Update Contest"), class: "btn btn-primary" %>
      <%= link_to "Cancel", (f.object.new_record? ? container_path(@container) : container_contest_description_contest_instances_path(@container, @contest_description)), class: "text-danger link_to" %>
    </div>
  <% end %>
</div>