<%= simple_form_for([@container, @contest_description]) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name, required: true %>
    <%= f.input :created_by, as: :hidden, input_html: { value: current_user.email} %>
    <%= f.input :eligibility_rules, as: :rich_text_area %>
    <%= f.input :notes, as: :rich_text_area %>
    <%= f.input :short_name %>
    <%= f.input :active %>
    <%= f.input :archived %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>