<p style="color: green"><%= notice %></p>

<%= render @contest_description %>

<div>
  <%= link_to "Edit", edit_contest_description_path(@contest_description) %> |
  <%= link_to "Back", contest_descriptions_path %>

  <%= button_to "Destroy", @contest_description, method: :delete %>
</div>
