<!-- app/views/assignments/create.turbo_stream.erb -->
<% if @assignment.errors.any? %>
  <%= turbo_stream.replace "new_assignment" do %>
    <%= render partial: 'containers/assignment_form', locals: { container: @container, assignment: @assignment } %>
  <% end %>
<% else %>

  <%= turbo_stream.append "assignments" do %>
    <tr id="<%= dom_id(@assignment) %>">
      <td><%= @assignment.user.display_name_or_uid %></td>
      <td><%= @assignment.role.kind %></td>
    </tr>
  <% end %>


  <%= turbo_stream.replace "new_assignment" do %>
    <%= render partial: 'containers/assignment_form', locals: { container: @container, assignment: @container.assignments.build } %>
  <% end %>
<% end %>