<%# app/views/assignments/create.turbo_stream.erb %>

<%= turbo_stream.append "assignments" do %>
  <tr id="<%= dom_id(@assignment) %>">
    <td><%= @assignment.user.display_name_or_email %></td>
    <td><%= @assignment.role.kind %></td>
  </tr>
<% end %>


<%= turbo_stream.replace "new_assignment" do %>
  <%= render partial: 'containers/assignment_form', locals: { container: @container, new_assignment: @container.assignments.build } %>
<% end %>