<div id="<%= dom_id entry %>">
  <p>
    <strong>Title:</strong>
    <%= entry.title %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= entry.status_id %>
  </p>

  <p>
    <strong>Contest instance:</strong>
    <%= entry.contest_instance_id %>
  </p>

  <p>
    <strong>Profile:</strong>
    <%= entry.profile_id %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= entry.category_id %>
  </p>

  <p>
    <% if entry.entry_file.attached? %>
      <p>File attached: <%= link_to entry.entry_file.filename.to_s, rails_blob_path(entry.entry_file, disposition: "attachment") %></p>
    <% else %>
      <p>No file attached</p>
    <% end %>
  </p>

</div>
