<div id="<%= dom_id entry %>">
  <p>
    <strong>Title:</strong>
    <%= entry.title %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= entry.active %>
  </p>

  <p>
    <strong>Contest instance:</strong>
    <%= entry.contest_instance.contest_description.name %>
  </p>

  <p>
    <strong>Profile:</strong>
    <%= entry.profile.user.display_name %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= entry.category.kind %>
  </p>

  <p>
    <% if entry.entry_file.attached? %>
      <p>File attached: <%= link_to entry.entry_file.filename.to_s, rails_blob_path(entry.entry_file, disposition: "attachment") %></p>
    <% else %>
      <p>No file attached</p>
    <% end %>
  </p>

</div>
