<%= simple_form_for(@entry) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :title %>

    <%= f.hidden_field :disqualified, value: false %>
    <%= f.hidden_field :contest_instance_id, value: @entry.contest_instance_id %>
    <%= f.hidden_field :profile_id, value: @entry.profile_id %>

    <%= f.association :category, collection: @entry.contest_instance.categories, label_method: :kind %>
    <%= f.input :entry_file, as: :file %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
