<% content_for :title, "New entry" %>

<h1><%= @entry.contest_instance.contest_description.name %></h1>
<p><%= @entry.contest_instance.contest_description.eligibility_rules %></p>
<p><%= @entry.contest_instance.contest_description.notes %></p>

<%= render "form", entry: @entry %>

<br>

<div>
  <%= link_to "Back to dashboard", applicant_dashboard_path %>
</div>
