<p style="color: green"><%= notice %></p>

<%= render @status %>

<div>
  <%= link_to "Edit", edit_status_path(@status) %> |
  <%= link_to "Back", statuses_path %>

  <%= button_to "Destroy", @status, method: :delete, data: { controller: 'confirm', confirm_message_value: 'Are you sure you want to delete this?' } %>
</div>
