<div id="<%= dom_id contest_instance %>">
  <div class="container" style="max-width: 100%;" class="mx-auto">
    <div class="row mb-3">
      <div class="col">
        <strong>Active:</strong>
        <%= contest_instance.active %>
      </div>
      <div class="col">
        <strong>Archived:</strong>
        <%= contest_instance.archived %>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col">
        <strong>Date Open:</strong>
        <%= format_datetime(contest_instance.date_open) %>
      </div>
      <div class="col">
        <strong>Date Closed:</strong>
        <%= format_datetime(contest_instance.date_closed) %>
      </div>
    </div>

    <div class="mb-3">
      <strong>Notes:</strong>
      <%= contest_instance.notes %>
    </div>
    
    <div class="row mb-3">
      <div class="col">
        <strong>Judging Open:</strong>
        <%= boolean_to_yes_no(contest_instance.judging_open) %>
      </div>
      <div class="col">
        <strong>Judging Rounds:</strong>
        <%= contest_instance.judging_rounds %>
      </div>
      <div class="col">
        <strong>Judge Evaluations Complete:</strong>
        <%= boolean_to_yes_no(contest_instance.judge_evaluations_complete) %>
      </div>
    </div>
    
    <div class="row mb-3">
      <div class="col">
        <strong>Category:</strong>
        <%= contest_instance.categories.map(&:kind).join(', ') %>
      </div>
      <div class="col">
        <strong>Class Level Requirement:</strong>
        <%= contest_instance.class_levels.map(&:name).join(', ') %>
      </div>
    </div>
    
    <div class="mb-3">
      <strong>Maximum Number of Entries per Applicant:</strong>
      <%= contest_instance.maximum_number_entries_per_applicant %>
    </div>
    
    <div class="mb-3">
      <strong>Require a Pen Name:</strong>
      <%= boolean_to_yes_no(contest_instance.require_pen_name) %>
    </div>

    <div class="mb-3">
      <strong>Require Campus Employment Info:</strong>
      <%= boolean_to_yes_no(contest_instance.require_campus_employment_info) %>
    </div>

    <div class="mb-3">
      <strong>Notes:</strong>
      <%= contest_instance.notes %>
    </div>
    
    <div class="mb-3">
      <strong>Created By:</strong>
      <%= contest_instance.created_by %>
    </div>
  </div>
</div>
