<h2>Entries</h2>
<table class="table table-striped w-100">
  <thead>
    <tr>
      <th><%= sortable 'id', 'ID', @container, @contest_description, @contest_instance %></th>
      <th>File</th>
      <th><%= sortable 'profile_display_name', 'Display Name', @container, @contest_description, @contest_instance %></th>
      <th><%= sortable 'profile_user_uniqname', 'Username', @container, @contest_description, @contest_instance %></th>
      <th><%= sortable 'title', 'Title', @container, @contest_description, @contest_instance %></th>
      <th><%= sortable 'pen_name', 'Pen Name', @container, @contest_description, @contest_instance %></th>
      <th><%= sortable 'created_at', 'Created At', @container, @contest_description, @contest_instance %></th>
      <th><%= sortable 'disqualified', 'Disqualified', @container, @contest_description, @contest_instance %></th>
    </tr>
  </thead>
  <tbody>
    <% if @contest_instance_entries.any? %>
      <% @contest_instance_entries.each do |ci_entry| %>
        <%= render partial: 'contest_instances/entry', locals: { entry: ci_entry } %>
      <% end %>
    <% else %>
      <tr>
        <td colspan="9" class="text-center">No entries found.</td>
      </tr>
    <% end %>
  </tbody>
</table>