<div id="<%= dom_id contest_instance %>">

  <h1><%= "#{contest_instance.contest_description.name } - #{contest_instance.date_open.year}"%></h1>

  <p>
    <strong>Active:</strong>
    <%= contest_instance.active %>
  </p>

  <p>
    <strong>Archived:</strong>
    <%= contest_instance.archived %>
  </p>

  <p>
    <strong>Date Open:</strong>
    <%= format_datetime(contest_instance.date_open) %>
  </p>

  <p>
    <strong>Date Closed:</strong>
    <%= format_datetime(contest_instance.date_closed) %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= contest_instance.notes %>
  </p>

  <p>
    <strong>Judging Open:</strong>
    <%= boolean_to_yes_no(contest_instance.judging_open) %>
  </p>

  <p>
    <strong>Judging Rounds:</strong>
    <%= contest_instance.judging_rounds %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= contest_instance.categories.map(&:kind).join(', ') %>
  </p>

  <p>
    <strong>Has Course Requirement:</strong>
    <%= boolean_to_yes_no(contest_instance.has_course_requirement) %>
  </p>

  <p>
    <strong>Judge Evaluations Complete:</strong>
    <%= boolean_to_yes_no(contest_instance.judge_evaluations_complete) %>
  </p>

  <p>
    <strong>Course Requirement Description:</strong>
    <%= contest_instance.course_requirement_description %>
  </p>

  <p>
    <strong>Recommendation Letter Required:</strong>
    <%= boolean_to_yes_no(contest_instance.recletter_required) %>
  </p>

  <p>
    <strong>Transcript Required:</strong>
    <%= boolean_to_yes_no(contest_instance.transcript_required) %>
  </p>

  <p>
    <strong>Maximum Number of Entries per Applicant:</strong>
    <%= contest_instance.maximum_number_entries_per_applicant %>
  </p>

  <p>
    <strong>Class Level Requirement:</strong>
    <%= contest_instance.class_levels.map(&:name).join(', ') %>
  </p>

  <p>
    <strong>Created By:</strong>
    <%= contest_instance.created_by %>
  </p>

</div>
