<%# app/views/contest_instances/_entry.html.erb %>
<tr id="<%= dom_id(entry) %>">
  <td><small><%= entry.id %></small></td>
  <td class="text-center">
    <% if entry.entry_file.attached? %>
      <%= link_to rails_blob_path(entry.entry_file, disposition: "inline"), target: "_blank", rel: "noopener", class: "me-2", title: "View in new tab" do %>
        <i class="bi bi-eye" style="font-size: 1.5rem;" aria-hidden="true"></i>
        <span class="visually-hidden">View file</span>
      <% end %>
      <%= link_to rails_blob_path(entry.entry_file, disposition: "attachment"), download: "", class: "me-2", title: "Download file" do %>
        <i class="bi bi-download" style="font-size: 1.5rem;" aria-hidden="true"></i>
        <span class="visually-hidden">Download file</span>
      <% end %>
    <% else %>
      No file attached
    <% end %>
  </td>
  <td><%= entry.profile.display_name %></td>
  <td><%= entry.profile.user.uniqname %></td>
  <td><%= entry.title %></td>
  <% if entry.contest_instance.require_pen_name %>
    <td><%= entry.pen_name %></td>
  <% end %>
  <% if entry.contest_instance.require_campus_employment_info %>
    <td class="text-center"><%= boolean_to_yes_no(entry.campus_employee) %></td>
  <% end %>
  <td><%= format_datetime(entry.created_at) %></td>
  <td class="text-center"><%= boolean_to_yes_no(entry.disqualified) %></td>
  <td class="text-center">
    <% if policy(entry).toggle_disqualified? %>
      <%= button_to toggle_disqualified_entry_path(entry),
                    method: :patch,
                    data: { turbo_confirm: 'Are you sure you want to toggle the disqualification status?' },
                    form: { data: { turbo_frame: "_top" } },
                    class: 'badge badge bg-warning text-black btn btn-sm p-0',
                    title: 'Toggle Disqualification',
                    aria: { label: 'Toggle Disqualification' } do %>
        <i class="bi bi-ban" style="font-size: 1.5rem;" aria-hidden="true"></i>
        <span class="visually-hidden">Toggle Disqualification</span>
      <% end %>
    <% end %>
  </td>
</tr>