<%= simple_form_for([@container, @contest_description, @contest_instance]) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :active %>
    <%= f.input :archived %>
    <%= f.association :contest_description, label_method: :name %>
    <%= f.input :date_open, as: :datetime %>
    <%= f.input :date_closed, as: :datetime %>
    <%= f.input :notes %>
    <%= f.input :judging_open %>
    <%= f.input :judging_rounds %>
    <%= f.input :has_course_requirement %>
    <%= f.input :judge_evaluations_complete %>
    <%= f.input :course_requirement_description %>
    <%= f.input :recletter_required %>
    <%= f.input :transcript_required %>
    <%= f.input :maximum_number_entries_per_applicant %>
    <%= f.input :created_by, as: :hidden, input_html: { value: current_user.email} %>

    <h3>Categories</h3>
    <div data-controller="nested-form">
      <div data-nested-form-target="container">
        <%= f.fields_for :category_contest_instances do |cc_f| %>
          <div class="nested-fields">
            <%= cc_f.association :category, label_method: :kind %>
            <%= cc_f.hidden_field :_destroy %>
            <%= link_to 'Remove', '#', class: 'remove_category', data: { action: "click->nested-form#removeAssociation" } %>
          </div>
        <% end %>
      </div>
      <%= link_to 'Add Category', '#', data: { action: "click->nested-form#addAssociation" } %>

      <!-- Move template inside the same div -->
      <template data-nested-form-target="template">
        <div class="nested-fields">
          <%= f.fields_for :category_contest_instances, CategoryContestInstance.new, child_index: "new_category_contest_instances" do |cc_f| %>
            <%= cc_f.association :category, label_method: :kind %>
            <%= cc_f.hidden_field :_destroy %>
            <%= link_to 'Remove', '#', class: 'remove_category', data: { action: "click->nested-form#removeAssociation" } %>
          <% end %>
        </div>
      </template>
    </div>

        <!-- Class Level Requirements -->
    <h3>Class Level Requirements</h3>
    <div data-controller="nested-form">
      <div data-nested-form-target="container">
        <%= f.fields_for :class_level_requirements do |clr_f| %>
          <div class="nested-fields">
            <%= clr_f.association :class_level, label_method: :name %>
            <%= clr_f.hidden_field :_destroy %>
            <%= link_to 'Remove', '#', class: 'remove_class_level', data: { action: "click->nested-form#removeAssociation" } %>
          </div>
        <% end %>
      </div>
      <%= link_to 'Add Class Level Requirement', '#', data: { action: "click->nested-form#addAssociation" } %>

      <template data-nested-form-target="template">
        <div class="nested-fields">
          <%= f.fields_for :class_level_requirements, ClassLevelRequirement.new, child_index: Time.now.to_i do |clr_f| %>
            <%= clr_f.association :class_level, label_method: :name %>
            <%= clr_f.hidden_field :_destroy %>
            <%= link_to 'Remove', '#', class: 'remove_class_level', data: { action: "click->nested-form#removeAssociation" } %>
          <% end %>
        </div>
      </template>
    </div>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>