<%= simple_form_for([@container, @contest_description, @contest_instance], 
    html: { 
      data: { 
        controller: "form-validation",
        action: "submit->form-validation#submitForm",
        form_validation_target: "form"
      }
    }) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :active, hint: "Specify whether this contest is currently accepting entries." %>
    <%= f.input :archived %>
    <%= f.association :contest_description, label_method: :name %>
    <div class="row">
      <div class="col-md-6">
        <%= f.label :date_open, "Contest Open Date and Time", class: "form-label" %>
        <%= f.input :date_open, 
                    as: :datetime_local,
                    html5: true,
                    input_html: { 
                      class: "form-control datetime-picker",
                      data: { 
                        form_validation_target: "dateOpen",
                        action: "change->form-validation#validateDates"
                      }
                    },
                    label: false %>
      </div>
      <div class="col-md-6">
        <%= f.label :date_closed, "Contest Close Date and Time", class: "form-label" %>
        <%= f.input :date_closed,
                    as: :datetime_local,
                    html5: true,
                    input_html: { 
                      class: "form-control datetime-picker",
                      data: { 
                        form_validation_target: "dateClosed",
                        action: "change->form-validation#validateDates"
                      }
                    },
                    label: false %>
      </div>
    </div>
    <%= f.input :notes,
                hint: "These notes are not visible on the applicant entry form" %>
    <%= f.input :judging_open %>
    <%= f.input :judging_rounds %>
    <%= f.input :judge_evaluations_complete %>
    <%= f.input :maximum_number_entries_per_applicant %>
    <%= f.input :require_pen_name, 
          as: :boolean, 
          label: "Require Pen Name for entries?",
            hint: safe_join([
                "Check this box if applicants must use a pen name to submit their entries.",
                tag(:br),
                content_tag(:em, "This will add the following hint to the applicants entry form"),
                tag(:br),
                content_tag(:div, class: "alert alert-secondary", style: "padding: 5px;") do
                  safe_join([
                  "Enter the pen name you wish to use for this entry.",
                  tag(:br),
                  "The same pen name should be used for each submission entered across this year's contests. 
                  Your real name should not appear anywhere in the manuscript or on the title page."
                  ])
                end
                  ]) %>
    <%= f.input :require_campus_employment_info, 
                as: :boolean, 
                label: "Require campus employment check",
                hint: safe_join([
                      "Check this box if you require the applicant to notify you of their on campus employment (GSI, workstudy ...).",
                      tag(:br),
                      content_tag(:em, "This will add the following hint to the applicants entry form"),
                      tag(:br),
                      content_tag(:div, class: "alert alert-secondary", style: "padding: 5px;") do
                        "Winners and finalists who are or have been employed by the university within the past 
                        calendar year can expect to receive their award in the form of additional pay through 
                        the university payroll system. Awards processed through payroll will include a payroll 
                        tax deduction."
                        end
                      ]) %>
    <%= f.input :require_finaid_info, 
                as: :boolean, 
                label: "Require financial aid check",
                hint: safe_join([
                      "Check this box if you want the applicant to describe any financial aid they are receiving.",
                      tag(:br),
                      content_tag(:em, "This will add the following hint to the applicants entry form"),
                      tag(:br),
                      content_tag(:div, class: "alert alert-secondary", style: "padding: 5px;") do
                        finaid_info_hint
                      end
                    ]) %>
    <%= f.input :created_by, as: :hidden, input_html: { value: current_user.email} %>

    <h3>Categories</h3>
    <div class="form-group">
      <%= f.collection_check_boxes :category_ids, Category.all, :id, :kind do |b| %>
      <div class="checkbox">
        <label>
        <%= b.check_box %> <%= b.text %>
        </label>
      </div>
      <% end %>
      <small class="form-text text-muted">Select the categories that apply to this contest.</small>
    </div>

    <h3>Class Level Requirements</h3>
    <div class="form-group">
      <%= f.collection_check_boxes :class_level_ids, ClassLevel.all, :id, :name do |b| %>
        <div class="checkbox">
          <label>
            <%= b.check_box %> <%= b.text %>
          </label>
        </div>
      <% end %>
      <small class="form-text text-muted">Select the class levels of applicants that are eligible for this contest.</small>
    </div>

  </div>

  <div class="form-actions py-2">
    <%= f.button :submit, class: "btn btn-primary" %>
    <%= link_to "Cancel", (f.object.new_record? ? container_contest_description_contest_instances_path(@container, @contest_description) : container_contest_description_contest_instance_path(@container, @contest_description, @contest_instance)), class: "text-danger link_to" %>
  </div>
<% end %>
