<h1><%= @contest_description.name %> Instances</h1>

<div id="contest_instances" class="table-responsive">
  <table class="table table-striped table-bordered">
    <thead class="thead-light">
      <tr>
        <th>Status</th>
        <th>Contest Description</th>
        <th>Date Open</th>
        <th>Date Closed</th>
        <th>Notes</th>
        <th>Judging Open</th>
        <th>Judging Rounds</th>
        <th>Category</th>
        <th>Has Course Requirement</th>
        <th>Judge Evaluations Complete</th>
        <th>Course Requirement Description</th>
        <th>Recommendation Letter Required</th>
        <th>Transcript Required</th>
        <th>Max Entries per Applicant</th>
        <th>Created By</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @contest_instances.each do |contest_instance| %>
        <tr>
          <td><%= contest_instance.status.kind %></td>
          <td><%= contest_instance.contest_description.name %></td>
          <td><%= format_datetime(contest_instance.date_open) %></td>
          <td><%= format_datetime(contest_instance.date_closed) %></td>
          <td><%= contest_instance.notes %></td>
          <td><%= contest_instance.judging_open %></td>
          <td><%= contest_instance.judging_rounds %></td>
          <td><%= contest_instance.category.kind %></td>
          <td><%= contest_instance.has_course_requirement %></td>
          <td><%= contest_instance.judge_evaluations_complete %></td>
          <td><%= contest_instance.course_requirement_description %></td>
          <td><%= contest_instance.recletter_required %></td>
          <td><%= contest_instance.transcript_required %></td>
          <td><%= contest_instance.maximum_number_entries_per_applicant %></td>
          <td><%= contest_instance.created_by %></td>
          <td>
            <%= link_to "Show", container_contest_description_contest_instance_path(@container, @contest_description, contest_instance), class: "btn btn-primary btn-sm" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to "New", new_container_contest_description_contest_instance_path(@container, @contest_description), class: "btn btn-primary" %>
<%= link_to "Return to Containers", containers_path, class: "btn btn-secondary" %>