<nav class="navbar navbar-expand-lg navbar-dark bg-um-blue">
  <div class="container-fluid d-flex justify-content-between align-items-center">
    <div id="LSAlogo">
      <a class="navbar-brand" href="/"><%= image_tag 'LSA_Logo.svg', alt: 'LSA Logo' %></a>
      <a href="/" class="nav-title d-lg-block text-decoration-none">
        Evaluate
      </a>
    </div>
    <% if user_signed_in? %>
      <div class="user-controls d-flex flex-column align-items-end" data-controller="dropdown">
        <div id="avatar" class="avatar bg-warning mb-2" data-action="click->dropdown#toggle" aria-haspopup="true" aria-expanded="false">
          <span><%= current_user.display_initials_or_email %><i class="bi bi-caret-down-fill"></i></span>
        </div>
        <div class="dropdown-menu" aria-labelledby="avatar-menu" data-dropdown-target="menu">
          <%= button_to "Dashboard", root_path, class: 'dropdown-item btn-as-link' %>
          <% if current_user.profile %>
            <%= button_to "Profile", profile_path(current_user.profile), method: :get, class: 'dropdown-item btn-as-link' %>
          <% end %>
          <hr class='m-0' >
          <%= button_to destroy_user_session_path, method: :delete, class: 'dropdown-item btn-as-link', data: {turbo: "false"} do %>
            <i class="bi bi-box-arrow-right"></i> Logout
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</nav>