<nav class="navbar navbar-expand-lg navbar-dark bg-um-blue">
  <div class="container-fluid">
    <div id="LSAlogo" class="d-flex align-items-center flex-shrink-1">
      <a class="navbar-brand me-2" href="/"><%= image_tag 'LSA_Logo.svg', alt: 'LSA Logo', class: 'img-fluid', style: 'max-height: 60px;' %></a>
      <a href="/" class="nav-title text-decoration-none mb-1 text-truncate">
        Evaluate
      </a>
    </div>
    <% if user_signed_in? %>
      <div class="user-controls-wrapper">
        <div class="user-controls" data-controller="dropdown">
          <div id="avatar" class="avatar bg-warning mb-2" data-action="click->dropdown#toggle" aria-haspopup="true" aria-expanded="false">
            <span class="initials-caret-container">
              <%= current_user.display_initials_or_uid %>
              <i class="bi bi-caret-down-fill initials-caret"></i>
            </span>
          </div>
          <div id="avatar-menu" class="dropdown-menu" aria-labelledby="avatar-menu" data-dropdown-target="menu">
            <% profile = current_user.profile %>
            <% if profile&.persisted? %>
              <%= button_to "Dashboard", applicant_dashboard_path, method: :get, class: 'dropdown-item btn-as-link' %>
              <%= button_to "Profile", profile_path(current_user.profile), method: :get, class: 'dropdown-item btn-as-link' %>
            <% end %>
            <% if current_user.judge? %>
              <hr class='m-0'>
              <%= button_to judge_dashboard_path, method: :get, class: 'dropdown-item btn-as-link' do %>
                <i class="bi bi-person-badge"></i> Judge Dashboard
              <% end %>
            <% end %>
            <hr class='m-0'>
            <%= button_to destroy_user_session_path, method: :delete, class: 'dropdown-item btn-as-link', data: {turbo: "false"} do %>
              <i class="bi bi-box-arrow-right"></i> Logout
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</nav>
