<p style="color: green"><%= notice %></p>

<%= render @department %>

<div>
  <%= link_to "Edit", edit_department_path(@department) %> |
  <%= link_to "Back", departments_path %>

  <%= button_to "Destroy", @department, method: :delete, data: { controller: 'confirm', confirm_message_value: 'Are you sure you want to delete this?' } %>
</div>
