<!-- app/views/containers/_assignment_form.html.erb -->
<%= simple_form_for [container, new_assignment], remote: true, html: { class: "assignment-form" } do |f| %>
  <div class="mb-3" data-controller="uid-lookup" data-action="input->uid-lookup#lookup">
    <%= f.input :uid, label: 'User UID', input_html: { class: 'form-control', data: { uid_lookup_target: 'input' } } %>
    <div data-uid-lookup-target="results" class="autocomplete-results"></div>
    <% if new_assignment.errors[:uid].present? %>
      <div class="error-message"><%= new_assignment.errors[:uid].first %></div>
    <% end %>
  </div>

  <div class="mb-3">
    <fieldset class="form-group">
      <legend class="col-form-label pt-0">Role</legend>
      <% Role.excluding_axis_mundi.each do |role| %>
        <div class="form-check">
          <%= f.radio_button :role_id, role.id, class: 'form-check-input' %>
          <%= f.label :role_id, role.kind, class: 'form-check-label', value: role.id %>
        </div>
      <% end %>
    </fieldset>
  </div>

  <%= f.submit 'Add User', class: "btn btn-primary my-2" %>
<% end %>