<!-- app/views/containers/_container_detail.html.erb -->
<div id="<%= dom_id(container) %>" class="container">
  <h1><%= container.name %></h1>

  <p><strong>Description:</strong> <%= container.description %></p>
  <p><strong>Department:</strong> <%= container.department.name %></p>
  <p><strong>Visibility:</strong> <%= container.visibility.kind %></p>
<hr>
  <%= link_to "Create New Contest", new_container_contest_description_path(container), class: "btn btn-sm btn-secondary" %>
  <%= link_to "Create Multiple Instances", contest_descriptions_for_container_container_contest_descriptions_path(container), class: "btn btn-sm btn-secondary" %>

  <!-- Add a checkbox to filter only Active contest descriptions -->
  <div class="form-check mb-3">
    <input class="form-check-input" type="checkbox" id="statusFilter" data-action="change->filter#toggleFilter" data-filter-target="statusFilter">
    <label class="form-check-label" for="statusFilter">
      Show only <span class="fw-bolder">Active</span> contest descriptions
    </label>
  </div>

  <div class="container w-100 mx-auto">
  <% if container.contest_descriptions.present? %>
    <div class="table-responsive">
      <table class="table table-striped w-100">
        <thead>
          <tr>
            <th>Name</th>
            <th>Short Name</th>
            <th>Eligibility Rules</th>
            <th>Notes</th>
            <th>Active</th>
            <th class="text-center">Actions</th>
          </tr>
        </thead>
        <tbody>
          <% container.contest_descriptions.each do |description| %>
            <tr data-status="<%= description.active %>" data-filter-target="filterRow">
              <td><%= description.name %></td>
              <td><%= description.short_name %></td>
              <td><%= description.eligibility_rules %></td>
              <td><%= description.notes %></td>
              <td><%= boolean_to_yes_no(description.active) %></td>
              <td class="text-center">
                <div class="d-flex flex-column">
                    <%= link_to container_contest_description_contest_instances_path(container, description),
                              class: 'd-block',
                              data: { 'bs-toggle': 'tooltip' },
                              title: 'View instances',
                              aria: { label: 'View instances' } do %>
                    <i class="bi bi-eye" style="font-size: 1.5rem;" aria-hidden="true"></i>
                    <span class="visually-hidden">View instances</span>
                  <% end %>
                  <%= link_to edit_container_contest_description_path(container, description),
                              class: 'd-block',
                              data: { 'bs-toggle': 'tooltip' },
                              title: 'Edit contest',
                              aria: { label: 'Edit contest' } do %>
                    <i class="bi bi-pencil" style="font-size: 1.5rem;" aria-hidden="true"></i>
                    <span class="visually-hidden">Edit instance</span>
                  <% end %>

                  <%= link_to container_contest_description_path(container, description),
                              method: :delete,
                              class: 'd-block',
                              data: {
                                'bs-toggle': 'tooltip',
                                controller: 'confirm',
                                confirm_message_value: 'Are you sure you want to archive this?'
                              },
                              title: 'Archive contest',
                              aria: { label: 'Archive contest' } do %>
                    <i class="bi bi-archive" style="font-size: 1.5rem;" aria-hidden="true"></i>
                    <span class="visually-hidden">Archive contest</span>
                  <% end %>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
    <div><p>No contest descriptions found.</p></div>
  <% end %>
</div>
</div>