<!-- app/views/containers/_container_detail.html.erb -->
<div id="<%= dom_id(container) %>" class="container" data-controller="modal">
  <div data-modal-target="mainContent">
    <div class="container-header mb-2">
      <div class="mb-3">
        <h1 class="mb-2"><%= container.name %></h1>

        <% if policy(@container).update? %>
          <div class="container-actions">
            <%= link_to edit_container_path(@container),
                        class: "btn btn-sm btn-outline-primary me-2" do %>
              <i class="bi bi-pencil-square me-1"></i> Edit Collection
            <% end %>
          </div>
        <% end %>
      </div>

      <div class="container-info card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              <div class="mb-2">
                <%= render_description(container) %>
              </div>
            </div>
            <div class="col-md-4">
              <div class="mb-2">
                <label class="text-muted small">Department</label>
                <p class="mb-0"><%= container.department.name %></p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="mb-2">
                <label class="text-muted small">Visibility</label>
                <p class="mb-0"><%= container.visibility.kind %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%= render 'entries_summary', container: @container %>

    <hr>
    <div class="d-flex align-items-center mb-0">
      <h4 class="mb-0 me-2">Contest within this Collection</h4>
      <i class="bi bi-info-circle"
         data-bs-toggle="tooltip"
         data-bs-placement="right"
         data-bs-html="true"
         title="Summary of contests within this collection"></i>
    </div>
    <div class="contest-actions d-flex justify-content-between mb-4">
      <%= link_to "Create New Contest",
                  new_container_contest_description_path(container),
                  class: "btn btn-sm btn-secondary" %>

      <%= link_to "Bulk Create Contest Instances",
                  new_container_bulk_contest_instance_path(container),
                  class: "link_to" if container.contest_descriptions.any? %>
    </div>

    <div data-controller="filter">
      <div class="form-check mb-3">
        <input class="form-check-input"
               type="checkbox"
               id="statusFilter"
               checked
               data-action="change->filter#toggleFilter"
               data-filter-target="statusFilter">
        <label class="form-check-label" for="statusFilter">
          Show only <span class="fw-bolder">Active</span> contest descriptions
        </label>
      </div>

      <div class="mb-3">
        This collection has <span class="fw-bolder small"><%= pluralize(container_contest_descriptions.active.count, "active description") %></span>
        and <span class="fw-bolder small"><%= pluralize(container_contest_descriptions.count - container_contest_descriptions.active.count, "inactive description") %></span>.
      </div>

      <div class="container w-100 mx-auto">
        <% if container_contest_descriptions.present? %>
          <%= render 'contest_descriptions_table',
                    container: container,
                    descriptions: container_contest_descriptions %>
        <% else %>
          <div><p>No contest descriptions found.</p></div>
        <% end %>
      </div>
    </div>
  </div>

  <%= render 'shared/modal' %>
</div>
