<div id="<%= dom_id container %>">
  <h1>Name: <%= container.name %></h1>

  <p>
    <strong>Description:</strong>
    <%= container.description %>
  </p>

  <p>
    <strong>Department:</strong>
    <%= container.department.name %>
  </p>

  <p>
    <strong>Visibility:</strong>
    <%= container.visibility.kind %>
  </p>

</div>
