<div id="container_form">
  <% if (content = render_editable_content('container', 'form_instructions')) %>
    <%= content %>
  <% end %>
  <%= simple_form_for(@container, html: { id: 'new_container_form' }) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="form-inputs">
      <%= f.input :name, required: true %> <!-- This field should be required -->
      <%= f.input :description, as: :rich_text_area %>
      <%= f.input :contact_email,
                  hint: "This email will be displayed in notifications to applicants as the contact for questions about contests in this collection." %>

      <%= f.input :department_id,
                  collection: Department.all,
                  label_method: :name,
                  value_method: :id,
                  required: true %> <!-- Required department -->

      <%= f.input :visibility_id,
                  collection: Visibility.all,
                  label: 'Dashboard Visibility',
                  label_method: :kind,
                  value_method: :id,
                  hint: safe_join(
                    Visibility.all.map.with_index do |v, i|
                      safe_join([
                        content_tag(:strong, v.kind),
                        ': ',
                        v.description,
                        (tag(:br) unless i == Visibility.all.size - 1)
                      ].compact)
                    end
                  ),
                  required: true %> <!-- Required visibility -->
    </div>

    <div class="form-actions py-2">
      <%= f.button :submit, (f.object.new_record? ? "Create Collection" : "Update Collection"), class: "btn btn-sm btn-primary" %>
      <%= link_to "Cancel", containers_path, class: "text-danger link_to" %>
    </div>
  <% end %>
</div>
