<div id="container_form">
  <%= simple_form_for(@container, html: { id: 'new_container_form' }) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="form-inputs">
      <%= f.input :name, required: true %> <!-- This field should be required -->
      <%= f.input :description, as: :rich_text_area %>
      
      <%= f.input :department_id, 
                  collection: Department.all, 
                  label_method: :name, 
                  value_method: :id, 
                  required: true %> <!-- Required department -->
      
      <%= f.input :visibility_id, 
                  collection: Visibility.all, 
                  label_method: :kind, 
                  value_method: :id,
                  hint: safe_join([
                    content_tag(:strong, "Public"), " visibility means that this collection of contests will be visible in the applicant's dashboard. ",
                    tag(:br),
                    content_tag(:strong, "Private"), " visibility requires you provide a special link to applicants in order for them to apply to this collection of contests, it will NOT be visible in the applicant's dashboard."
                  ]),
                  required: true %> <!-- Required visibility -->
    </div>

    <div class="form-actions py-2">
      <%= f.button :submit, (f.object.new_record? ? "Create Collection" : "Update Collection"), class: "btn btn-sm btn-primary" %>
      <%= link_to "Cancel", container_path(@container), class: "text-danger link_to" %>
    </div>
  <% end %>
</div>
