<h1>Containers</h1>
<h2>Manage Submissions</h2>
<div>
  <%= button_to "New", new_container_path %>
</div>

<div class="container-fluid d-flex flex-column justify-content-between mt-4">
  <% @containers.each do |container| %>
    <div class="row mt-2">
      <div class="">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title"><%= container.name %></h5>
          </div>
          <div class="card-body">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Short Name</th>
                  <th>Eligibility Rules</th>
                  <td>Actions</td>
                </tr>
              </thead>
              <tbody>
                <% container.contest_descriptions.each do |description| %>
                    <tr>
                    <td><%= description.name %></td>
                    <td><%= description.short_name %></td>
                    <td><%= description.eligibility_rules %></td>
                    <td><%= link_to "View instances", container_contest_description_contest_instances_path(container, description) %></td>
                    </tr>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

</div>