<h1><%= action_name.capitalize %> container</h1>

  <%= simple_form_for(@container) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="form-inputs">
      <%= f.input :name %>
      <%= f.input :description %>
      <%= f.input :department_id, collection: Department.all, label_method: :name, value_method: :id %>
      <%= f.input :visibility_id, collection: Visibility.all, label_method: :kind, value_method: :id %>
    </div>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
  <% end %>

<br>

<div>
  <%= link_to "Back", containers_path %>
</div>
