<p style="color: green"><%= notice %></p>

<%= render @container %>

<div>
  <%= link_to "Edit", edit_container_path(@container) %> |
  <%= link_to "Back", containers_path %>

  <%= button_to "Destroy", @container, method: :delete, data: { controller: 'confirm', confirm_message_value: 'Are you sure you want to delete this?' } %>
</div>
