<%# app/views/containers/show.html.erb %>
<div class="d-flex justify-content-evenly">
  <div>
    <%= render 'container_detail', container: @container, container_contest_descriptions: @container_contest_descriptions %>
  </div>
  <div>
    <%= link_to "Back to Collections", containers_path, class: "link_to text-nowrap" %>

    <div class="d-flex">
      <% if policy(@container).update? %>
        <%= link_to "Edit", edit_container_path(@container), class: "btn btn-sm btn-primary" %> |
        <%= link_to "Archive", @container, data: { controller: 'confirm', confirm_message_value: 'Are you sure you want to archive this?' }, class: "link_to" %>
      <% end %>
    </div>
  </div>
</div>

<h3 class="mt-4">User Permissions</h3>
<%= turbo_frame_tag "assignments" do %>
  <%= render partial: "containers/assignments_table", locals: { container: @container, assignments: @assignments } %>
<% end %>

<h3 class="mt-4">Add New Permission</h3>
<%= turbo_frame_tag "new_assignment" do %>
  <%= render partial: 'containers/assignment_form', locals: { container: @container, assignment: @assignment } %>
<% end %>