<%# app/views/containers/show.html.erb %>
<%= render @container %>

<div class="d-flex">
  <% if policy(@container).update? %>
    <%= link_to "Edit", edit_container_path(@container), class: "btn btn-primary" %> |
  <% end %>
  <%= link_to "Back", containers_path, class: "btn btn-secondary" %> |
  <%= button_to "Destroy", @container, method: :delete, data: { controller: 'confirm', confirm_message_value: 'Are you sure you want to delete this?' }, class: "btn btn-danger" %>
</div>

<h3 class="mt-4">Current Assignments</h3>
<%= turbo_frame_tag "assignments" do %>
  <%= render partial: "containers/assignments_table", locals: { container: @container, assignments: @assignments } %>
<% end %>

<h3 class="mt-4">Add a New Assignment</h3>
<%= turbo_frame_tag "new_assignment" do %>
  <%= render partial: 'containers/assignment_form', locals: { container: @container, new_assignment: @new_assignment } %>
<% end %>