<div class="mt-4">
  <div class="">
    <h2 class="">Contests you have entered</h2>
  </div>
  <div class="">
    <table class="table table-bordered table-hover table-striped mt-3">
      <thead>
        <tr>
          <th></th>
          <th>Status</th>
          <th>Contest Name</th>
          <th>Open Date</th>
          <th>Close Date</th>
        </tr>
      </thead>
      <tbody>
        <% @entries.each do |entry| %>
          <tr>
            <td class="text-center">
              <%= link_to entry_path(entry), class: 'btn-icon' do %>
                <i class="bi bi-eye"></i>
              <% end %>
            </td>
            <td><%= entry.status.kind %></td> <!-- Assuming status has a `kind` attribute -->
            <td><%= entry.contest_instance.contest_description.name %></td>
            <td><%= entry.contest_instance.date_open.strftime("%B %d, %Y") %></td>
            <td><%= entry.contest_instance.date_closed.strftime("%B %d, %Y") %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>