<div class="container-fluid mt-4">
  <div class="row">
    <!-- Profile summary: Displayed on all screens, order changes based on viewport size -->
    <div class="col-8 col-xxl-2 order-2 order-xxl-1">
      <%= render 'profiles/profile_summary', profile: @profile %>
    </div>

    <!-- Main content -->
    <div class="col-12 col-xxl-10 mt-4 order-1 order-xxl-2">
      <!-- Your main content goes here -->
      <div class="row mb-4 ms-2">
        <div class="">
          <div class="card text-center">
            <div class="card-body">
              <small class="text-muted"><%= Time.now.strftime("%B %d, %Y - %I:%M %p") %></small>
              <%= render 'static_pages/opportunities' %>
              <p class="card-text"><%= "Currently there are #{@active_contests.count} Open contests!" %></p>
            </div>
          </div>
        </div>
      </div>
      <div class="row ms-2">
        <div class="col-12 submissions-summary">
          <%= render 'applicant_dashboard/submissions_summary', submissions: @submissions %>
        </div>
      </div>
      <div class="row ms-2">
        <div class="col-12 available-contests">
          <%= render 'applicant_dashboard/available_contests' %>
        </div>
      </div>
    </div>
  </div>
</div>