<div class="container-fluid mt-4">
  <div class="row">
    <%= render 'profiles/profile_summary', profile: @profile %>

    <div class="col-10 mt-4">
      <div class="row mb-4 ms-2">
        <div class="">
          <div class="card text-center">
            <div class="card-body">
              <small class="text-muted"><%= Time.now.strftime("%B %d, %Y - %I:%M %p") %></small>
              <%= render 'static_pages/opportunities' %>
              <p class="card-text"><%= "Currently there are #{"25"} Open contests!"%></p>
            </div>
          </div>
        </div>
      </div>
      <div class="row ms-2">
        <div class="col-12 submissions-summary">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
              Show Submissions Summary
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <li>
                <%= render 'applicant_dashboard/submissions_summary', submissions: @submissions %>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>