<h1>Applicant Dashboard</h1>
<div class="container-fluid mt-4" data-controller="modal">
  <div class="row">
    <!-- Profile summary: Displayed on all screens, order changes based on viewport size -->
    <div class="col-8 col-xxl-2 order-2 order-xxl-1">
      <%= render 'profiles/profile_summary', profile: @profile %>
    </div>

    <!-- Main content -->
    <div class="col-12 col-xxl-10 mt-4 order-1 order-xxl-2">
      <div class="row mb-4">
        <div class="col-12">
          <%= render 'applicant_dashboard/opportunities' %>
        </div>
      </div>
      <div class="row">
        <div class="col-12 available-contests" id="available-contests">
          <%= render 'applicant_dashboard/available_contests' %>
        </div>
      </div>
      <div class="row">
        <div class="col-12 submissions-summary" id="submissions-summary">
          <%= render 'applicant_dashboard/submissions_summary', submissions: @submissions %>
        </div>
      </div>
      <hr class="my-4 w-75 mx-auto">
      <div class="row">
        <div class="col-12 submissions-summary" id="inactive-submissions-summary">
          <%= render 'applicant_dashboard/inactive_submissions_summary', submissions: @submissions %>
        </div>
      </div>
    </div>
  </div>

<%= render 'shared/modal' %>
