<p style="color: green"><%= notice %></p>

<%= render @testingrsmoke %>

<div>
  <%= link_to "Edit this testingrsmoke", edit_testingrsmoke_path(@testingrsmoke) %> |
  <%= link_to "Back to testingrsmokes", testingrsmokes_path %>

  <%= button_to "Destroy this testingrsmoke", @testingrsmoke, method: :delete %>
</div>
