<p style="color: green"><%= notice %></p>

<%= render @address_type %>

<div>
  <%= link_to "Edit", edit_address_type_path(@address_type) %> |
  <%= link_to "Back", address_types_path %>

  <%= button_to "Destroy", @address_type, method: :delete, data: { controller: 'confirm', confirm_message_value: 'Are you sure you want to delete this?' } %>
</div>
