<div id="<%= dom_id address %>">

<p>
  <strong>Address 1:</strong>
  <%= address.address1 %>
</p>

<p>
  <strong>Address 2:</strong>
  <%= address.address2 %>
</p>

<p>
  <strong>City:</strong>
  <%= address.city %>
</p>

<p>
  <strong>State:</strong>
  <%= address.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= address.zip %>
</p>

<p>
  <strong>Country:</strong>
  <%= address.country_name %>
</p>

<p>
  <strong>Address Type:</strong>
  <%= address.address_type.kind %>
</p>

</div>