<div class="d-flex flex-column align-items-end">
  <%= link_to "Return to Manage Collection", container_path(@container), class: "link_to mb-1" %>
  <%= link_to "Return to Instances", container_contest_description_contest_instances_path(@container, @contest_description), class: "link_to" %>
  <%#= link_to "Return to Instance", container_contest_description_contest_instance_path(@container, @contest_description, @contest_instance), class: "link_to" %>
</div>
<% if (content = render_editable_content('judging_assignments', 'instructions')) %>
    <%= content %>
<% end %>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to @contest_instance.contest_description.container.name, container_path(@container) %></li>
    <li class="breadcrumb-item"><%= link_to @contest_instance.contest_description.name, container_contest_description_contest_instances_path(@container, @contest_description) %></li>
    <li class="breadcrumb-item"><%= link_to "Instance [#{@contest_instance.date_open.strftime('%b %Y')} to #{@contest_instance.date_closed.strftime('%b %Y')}]", container_contest_description_contest_instance_path(@container, @contest_description, @contest_instance) %></li>
    <li class="breadcrumb-item active" aria-current="page">Manage Judging</li>
  </ol>
</nav>

<div class="container mt-4">
  <h2>Manage Judging for <%= @contest_instance.contest_description.name %></h2>

  <ul class="nav nav-tabs" id="contestInstanceTabs" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="round-specific-tab" data-bs-toggle="tab" data-bs-target="#round-specific" type="button" role="tab" aria-controls="round-specific" aria-selected="false">Round-Specific Judge Assignments</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="pool-of-judges-tab" data-bs-toggle="tab" data-bs-target="#pool-of-judges" type="button" role="tab" aria-controls="pool-of-judges" aria-selected="true">Judges assigned to this contest instance</button>
    </li>
  </ul>
  <div class="tab-content" id="contestInstanceTabsContent">
    <div class="tab-pane fade show active" id="round-specific" role="tabpanel" aria-labelledby="round-specific-tab"><%= render 'round_management' %></div>
    <div class="tab-pane fade" id="pool-of-judges" role="tabpanel" aria-labelledby="pool-of-judges-tab"><%= render 'judging_pool' %></div>
  </div>
</div>
