<p style="color: green"><%= notice %></p>

<%= render @role %>

<div>
  <%= link_to "Edit", edit_role_path(@role) %> |
  <%= link_to "Back", roles_path %>

  <%= button_to "Destroy", @role, method: :delete, data: { controller: 'confirm', confirm_message_value: 'Are you sure you want to delete this?' } %>
</div>
