
<%= simple_form_for(@editable_content) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <p>
  Page: 
  <%= @editable_content.page.titleize %>
  </p>
  <p>
  Section: 
  <%= @editable_content.section.titleize %>
  </p>
  <div class="form-inputs">
    <%= f.rich_text_area :content %>
  </div>

  <div class="form-actions mt-2">
    <%= f.button :submit, 'Update', class:"btn btn-primary" %>
    <%= link_to "Cancel", :back, method: :post, class: "link_to" %>
  </div>
<% end %>
