<p style="color: green"><%= notice %></p>

<%= render @category %>

<div>
  <%= link_to "Edit", edit_category_path(@category) %> |
  <%= link_to "Back", categories_path %>

  <%= button_to "Destroy", @category, method: :delete, data: { controller: 'confirm', confirm_message_value: 'Are you sure you want to delete this?' } %>
</div>
