<!DOCTYPE html>
<html lang="en">
  <head>
    <title>LSA Evaluate</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application.bootstrap", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <%= yield(:head) %>
  </head>

  <body>
    <%= render partial: "shared/navbar" %>
    <main class="container">
      <div id="flash">
        <%= render "shared/flash_messages" %>
      </div>
      <div>
        <%= yield %>
      </div>
    </main>
    <%= render partial: "shared/footer" %>
  </body>
</html>
